__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
*.log
api_gh_log.txt
run_log.txt
verbose_fail_utf8.log
run_log_utf8.log
lista_fail.log
fs_log_failed.log
job_fail.log
job_fail_utf8.log
run_fail.log
data/tmdb_cache.json
